# Python
__pycache__/
*.py[cod]
venv/
backend/data/   # 不上传本地音频和数据库，保护隐私

# Node
node_modules/
dist/
.env

#cursor
.cursor/

# IDE
.vscode/

# Development/Example files
backend/app/services/whisperx-service.py
backend/app/services/whisperx-service-example.py

